GOOGLE_API_KEY=YOUR_GEMINI_API_KEY_HERE
PORT=8000
HOST=0.0.0.0
DEBUG=True

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-app-password

PEXELS_API_KEY=your-pexels-api-key-here

MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
